# Исследование надежности заемщиков

Заказчик — кредитный отдел банка.

Цель исследования - узнать, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
children_group = data.groupby('children')['children'].count()
children_group_dept = data.groupby('children')['debt'].sum()
debt_group = children_group_dept/children_group*100
display("Общее количества людей сгруппировано по группам количества у них детей", children_group)
display()
display("Общее количества людей с задолжностями сгруппировано по количеству у них детей", children_group_dept)
display()
display("Отношения невозвратов кредитов по количеству у них детей",debt_group)

'Общее количества людей сгруппировано по группам количества у них детей'

children
0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: children, dtype: int64

'Общее количества людей с задолжностями сгруппировано по количеству у них детей'

children
0    1063
1     444
2     194
3      27
4       4
5       0
Name: debt, dtype: int64

'Отношения невозвратов кредитов по количеству у них детей'

children
0    7.543822
1    9.234609
2    9.454191
3    8.181818
4    9.756098
5    0.000000
dtype: float64

**Вывод:** Люди без детей чаще возвращают долги, семьи у кого 5 детей не имели просрочек по кредиту,возможно это не объективная информация, так как была маленькая выборка

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
family_status = data.groupby('family_status')['family_status'].count()
family_status_group_dept = data.groupby('family_status')['debt'].sum()
debt_group = family_status_group_dept/family_status*100
display("Общее количества людей сгруппировано по семейным статусам", family_status)
display()
display("Общее количества людей с задолжностями сгруппировано по их семейному статусу", family_status_group_dept)
display()
display("Отношения невозвратов кредитов по семейному положению",debt_group)

'Общее количества людей сгруппировано по семейным статусам'

family_status
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
гражданский брак          4134
женат / замужем          12261
Name: family_status, dtype: int64

'Общее количества людей с задолжностями сгруппировано по их семейному статусу'

family_status
Не женат / не замужем    273
в разводе                 84
вдовец / вдова            63
гражданский брак         385
женат / замужем          927
Name: debt, dtype: int64

'Отношения невозвратов кредитов по семейному положению'

family_status
Не женат / не замужем    9.763948
в разводе                7.064760
вдовец / вдова           6.624606
гражданский брак         9.313014
женат / замужем          7.560558
dtype: float64

**Вывод:** самый низкий процент невозвратов у людей которые потеряли пару, а самый высокий процент невозвратов у одиночек

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
total_income = data.groupby('total_income_category')['total_income_category'].count()
total_income_group_dept = data.groupby('total_income_category')['debt'].sum()
debt_group = total_income_group_dept/total_income*100
display("Общее количества людей сгруппировано по категориям уровня дохода", total_income)
display()
display("Общее количества людей с задолжностями сгруппировано по уровню дохода", total_income_group_dept)
display()
display("Отношения невозвратов кредитов по уровню доходов",debt_group)

'Общее количества людей сгруппировано по категориям уровня дохода'

total_income_category
A       25
B     5014
C    15921
D      349
E       22
Name: total_income_category, dtype: int64

'Общее количества людей с задолжностями сгруппировано по уровню дохода'

total_income_category
A       2
B     354
C    1353
D      21
E       2
Name: debt, dtype: int64

'Отношения невозвратов кредитов по уровню доходов'

total_income_category
A    8.000000
B    7.060231
C    8.498210
D    6.017192
E    9.090909
dtype: float64

**Вывод:** Люди с самым маленьким доходом имееют больше всех задолжности

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
total_income = data.groupby('purpose_category')['purpose_category'].count()
total_income_group_dept = data.groupby('purpose_category')['debt'].sum()
debt_group = total_income_group_dept/total_income*100
display("Общее количества людей сгруппировано по целям кредита", total_income)
display()
display("Общее количества людей с задолжностями сгруппировано целям кредита", total_income_group_dept)
display()
display("Отношения невозвратов кредитов по целям кредита",debt_group)

'Общее количества людей сгруппировано по целям кредита'

purpose_category
операции с автомобилем       4279
операции с недвижимостью    10751
получение образования        3988
проведение свадьбы           2313
Name: purpose_category, dtype: int64

'Общее количества людей с задолжностями сгруппировано целям кредита'

purpose_category
операции с автомобилем      400
операции с недвижимостью    780
получение образования       369
проведение свадьбы          183
Name: debt, dtype: int64

'Отношения невозвратов кредитов по целям кредита'

purpose_category
операции с автомобилем      9.347978
операции с недвижимостью    7.255139
получение образования       9.252758
проведение свадьбы          7.911803
dtype: float64

**Вывод:** Люди, которые берут кредит на операции с автомобилем хуже других возращают долг в срок, люди берущие кредит на операции с недвижимостью более ответственные

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Возможные причины появления пропусков в исходных данных делятся по технологическим причинам (при копировании, считывании, смене формата, записи данных), и вызванные человеческим фактором (опечатка в тексте, ошибется в порядке величин, чисел). Возможно человек просто не захотел вводить свои данные по своим каким то причинам

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медианное значение по сравнению со средним значением даст более точный результат при большом количестве разнящихся значений(всплесков), что в свою очередь по сравнению с другими вариантами будет меньше искажать полученные данные

### Шаг 4: общий вывод.

Провели исследование данных о клиентах на взамосвязь разных критериев на возврат кредитных средств в срок. Представленные данные были не совсем коректные- пропуски, артефакты, ошибки. Данные были обработаны и исправлены. 
По итогам  исследования:

***Чаще всего не возвращают кредит в срок:***
- люди с 4 детьми
- со семейным статусом (не женат / не замужем)
- люди с маленьким доходом (до 30000)
- с целью кредита(на операции с автомобилем)

***Чаще всего возвращают кредит в срок:***
- люди без детей
- со семейным статусом (вдовец/вдова)
- люди с небольшим доходом (от 30000 до 50000)
- с целью кредита(на операции с недвижимостью)

***Новый общий вывод***

Провели исследование данных о клиентах на взамосвязь разных критериев на возврат кредитных средств в срок. Представленные данные (статистика о платежноспособности клиентов) были не совсем корректные - пропуски, артефакты, ошибки. Данные были обработаны и исправлены. Результаты исследования будут учтены при построении модели кредитного скоринга - специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

Перед проведением исследования были поставлены несколько гипотез:

- Гипотеза 1: количество детей влияет на факт погошения кредита в срок;   
- Гипотеза 2: семейное положение влияет на факт погошения кредита в срок;     
- Гипотеза 3: уровень дохода влияет на факт погошения кредита в срок;     
- Гипотеза 4: цель кредита влияет на факт погошения кредита в срок.

В результате исследования удалось выявить зависимости

**Гипотеза 1 частично подтверждена:** 
- 7,5 % доля просроченных кредитов у заемщика без детей
- 9,2 % доля просроченных кредитов у заемщика с 1 ребенком
- 9,4 % доля просроченных кредитов у заемщика с 2 детьми
- 8,2 % доля просроченных кредитов у заемщика с 3 детьми
- 9,7 % доля просроченных кредитов у заемщика с 4 детьми
- 0,0 % доля просроченных кредитов у заемщика с 5 детьми

Вывод: С увеличением количества детей увеличивается процент невозвратов кредита в срок

Рекомендация: Для более точных выводов необходимо больше данных по клиентам с 3, 4, и особенно с 5 детьми (очень маленькая выборка). Необходимо провести дополнительное исследование на большей выборке данных

**Гипотеза 2 подтверждена:** 
- 9,7 % доля просроченных кредитов у заемщика с семейным статусом "Не женат / не замужем"
- 7,1 % доля просроченных кредитов у заемщика с семейным статусом "в разводе"
- 6,6 % доля просроченных кредитов у заемщика с семейным статусом "вдовец / вдова"
- 9,3 % доля просроченных кредитов у заемщика с семейным статусом "гражданский брак"
- 7,5 % доля просроченных кредитов у заемщика с семейным статусом "женат / замужем"

Вывод: 
- У не женатых и не замужних клиентов, и у тех, кто официально не зарегистрован в браке выше шанс стать должником
- Те клиенты кто в разводе, в оффициальном браке или вдовец/вдова вероятность стать должником меньше

Рекомендация: Разница между 2 пунктами категорий в выводе небольшая, всего 3 %. Я бы не рекомендовал наделять этой зависимоти высокий вес при принятии решения о кредитоспособности

**Гипотеза 3 частично подтверждена:** 
- 8,0 % доля просроченных кредитов у заемщика с уровнем дохода более 1000000, категория A
- 7,1 % доля просроченных кредитов у заемщика с уровнем дохода от 200000 до 1000000, категория B
- 8,5 % доля просроченных кредитов у заемщика с уровнем дохода от 50000 до 200000, категория C
- 6,0 % доля просроченных кредитов у заемщика с уровнем дохода от 30000 до 50000, категория D
- 9,1 % доля просроченных кредитов у заемщика с уровнем дохода менее 30000, категория E

Вывод: По категориям дохода A, D, E нельзя дать определенных ответов, так как была маленькая выборка,  хотя логично что у людей с меньшим доходам больше шанса не вернуть кредит в долг, что видно по категориям B и С, где выборка довольно больше чем в других катеориях.

Рекомендация: Для более точных выводов необходимо больше данных по клиентам с категорий дохода A, D, E. Необходимо провести дополнительные исследования на большьей выборке данных.

**Гипотеза 4 подтверждена:** 
- 7,2 % доля просроченных кредитов у заемщика, целью которых были операции с недвижимостью
- 7,9 % доля просроченных кредитов у заемщика, целью которых было проведение свадьбы
- 9,3 % доля просроченных кредитов у заемщика, целью которых были операции с автомобилем
- 9,2 % доля просроченных кредитов у заемщика, целью которых было получения образования

Вывод: 
- У людей кто берет кредит на покупку автомобиля и получения образования выше шанс стать должником
- У людей кто берет кредит на покупку недвижимости и свадьбу вероятность стать должником меньше

Рекомендация: Разница между 2 пунктами категорий в выводе небольшая, всего 2 %. Я бы не рекомендовал наделять этой зависимоти высокий вес при принятии решения о кредитоспособности

**Общие рекомендации:**
1. Специалистам, которые занимаются построением модели кредитного скоринга можно использовать зависимости из 2 и 4 гипотезы
2. По 1 и 3 гипотезе необходимо собрать более полную выборку для повторной проверки данных гипотез