In [1]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

In [2]:
path_to_db = '/datasets/telecomm_csi.db'
engine = create_engine(f'sqlite:///{path_to_db}', echo = False)

In [3]:
query = """
SELECT u.user_id,
       u.lt_day,
       CASE
           WHEN lt_day<=365 THEN 'новый клиент'
           WHEN lt_day>365 THEN 'старый клиент'
       END AS is_new,
       u.age,
       CASE
           WHEN gender_segment=1 THEN 'женщина'
           WHEN gender_segment=0 THEN 'мужчина'
       END AS gender_segment,
       u.os_name,
       u.cpe_type_name,
       loc.country,
       loc.city,
       ags.title AS age_segment,
       ts.title AS traffic_segment,
       ls.title AS lifetime_segment,
       u.nps_score,
       CASE
           WHEN nps_score>=9 AND nps_score<=10  THEN 'стороники'
           WHEN nps_score>=7 AND nps_score<=8  THEN 'нейтралы'
           WHEN nps_score>=0 AND nps_score<=6  THEN 'критики'
       END AS nps_group
FROM user AS u
JOIN location AS loc ON u.location_id=loc.location_id
JOIN age_segment AS ags ON u.age_gr_id=ags.age_gr_id
JOIN traffic_segment AS ts ON u.tr_gr_id=ts.tr_gr_id
JOIN lifetime_segment AS ls ON u.lt_gr_id=ls.lt_gr_id;
"""

In [4]:
df = pd.read_sql(query, engine)
df.head(3)

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,старый клиент,45.0,женщина,ANDROID,SMARTPHONE,Россия,Уфа,05 45-54,04 1-5,08 36+,10,стороники
1,A001WF,2344,старый клиент,53.0,мужчина,ANDROID,SMARTPHONE,Россия,Киров,05 45-54,04 1-5,08 36+,10,стороники
2,A003Q7,467,старый клиент,57.0,мужчина,ANDROID,SMARTPHONE,Россия,Москва,06 55-64,08 20-25,06 13-24,10,стороники

In [5]:
df.to_csv('telecomm_csi_tableau.csv', index=False)

### Укажите ссылку на дашборд на сайте Tableau Public:

https://public.tableau.com/app/profile/dmitriy1776/viz/Book2_16704031451570/_2?publish=yes

### Укажите ссылку на pdf-файл с презентацией:

https://cloud.mail.ru/public/PWbp/1Tqkt3er5